{% load static %}
{% load custometags %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'global.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    
</head>
<body>
    <h1>Bienvenue sur mangaLib</h1>
    <h3>La premiere plateforme en ligne</h3>
    <p>{{message|lower}}</p>
    <h1 style="color:goldenrod">{% now "d/m/Y H:i:s"%}</h1>
    <h3>{% lorem %}</h3>
    <br>
    <h2>Contenue du fichier other</h2>
    {% include './other.html'%}
    <!-- <p>Rendez vous sur <a href="{% url 'indexOffMangaLib' %}">MangaLib</a></p> -->
    <!-- <h2 style="color:goldenrod">Nous sommes le {{ publication|date:'d/m/Y'}}</h2>
    {{ textelong|truncatewords:2 }}

    <p>{{link|urlencode}}</p>

    <p>{%hello_world sentence%}</p>
</body>
</html>